### ****** 필독 !! 실습과제 주의사항 ******

- 각자의 "수강생 번호" 확인 (아이캠퍼스 공지) 
- 제출하는 실습과제 파일에 "수강생 번호"를 기준으로 작성 (이름, 학번 등 작성X)
- 각 실습과제에 대한 구체적인 파일 이름은 매번 개별 안내 
  (수강생 번호 123번 학생 과제파일 예시 : 'ST123_HW2_1' )
  
- 과제 파일이름 양식 지키지 않을 시 감점!

# [실습 과제 1]

## 1. ExampleData의 0.02초 ~ 0.04초에 대하여 '센서 데이터(시간열 제외)'만 추출하기
#### >>>>>> 추출된 데이터를 파일로 저장 후 제출
#### >>>>>> 데이터 파일 이름 : ST(수강생 번호)_HW1_1  (예시 : 'ST000_HW1_1'  //  'ST00_HW1_1'  //  'ST0_HW1_1')
#### >>>>>> 데이터 파일 이름 중 'ST' , 'HW' 등 영어는 모두 대문자

## 2. 위의 0.02~0.04초 센서 데이터에 대하여 대표값 6개 추출하기
#### >>>>>> 대표값 6개 (Max, Min, RMS, Var, Std, Mean, 순서준수) array 추출 및 Data frame으로 변환하여 데이터 파일로 저장 후 제출
#### >>>>>> 데이터 파일 이름 : ST(수강생 번호)_HW1_2  (예시 : 'ST000_HW1_2' // 'ST00_HW1_2' // 'ST0_HW1_2')
#### >>>>>> 데이터 파일 이름 중 'ST' , 'HW' 등 영어는 모두 대문자

## ***** 1번, 2번 데이터 파일 함께 zip파일로 압축하여 제출
### >>> 압축파일 이름 ST(수강생 번호)_HW1 (예시 : 'ST000_HW1.zip'  //  'ST00_HW1'  //  'ST0_HW1)

In [1]:
import pandas as pd
import numpy as np

In [2]:
ExampleData = pd.read_csv('./ExampleData',sep=',',header=None)
ExampleData

             0         1         2         3
0     0.000000  0.016440 -0.014200  0.001433
1     0.000078  0.013822 -0.015707  0.001504
2     0.000156  0.019431 -0.016963  0.001433
3     0.000234  0.003726 -0.017248  0.001549
4     0.000313  0.022049 -0.009840  0.001864
...        ...       ...       ...       ...
2769  0.216330  0.077392  0.002404  0.003453
2770  0.216410  0.030276  0.003952  0.003498
2771  0.216480  0.017188  0.005504  0.003397
2772  0.216560  0.037754 -0.000108  0.003506
2773  0.216640 -0.016093 -0.001652  0.003600

[2774 rows x 4 columns]

In [3]:
Startpoint = np.where(ExampleData.iloc[:,0].values==0.02)[0][0]
Endpoint = np.where(ExampleData.iloc[:,0].values==0.04)[0][0]
Startpoint, Endpoint

(256, 512)

In [4]:
SensorDataOnly = ExampleData.iloc[:,1:]
SensorDataOnly

             1         2         3
0     0.016440 -0.014200  0.001433
1     0.013822 -0.015707  0.001504
2     0.019431 -0.016963  0.001433
3     0.003726 -0.017248  0.001549
4     0.022049 -0.009840  0.001864
...        ...       ...       ...
2769  0.077392  0.002404  0.003453
2770  0.030276  0.003952  0.003498
2771  0.017188  0.005504  0.003397
2772  0.037754 -0.000108  0.003506
2773 -0.016093 -0.001652  0.003600

[2774 rows x 3 columns]

In [7]:
Data1 = SensorDataOnly.iloc[Startpoint:Endpoint+1,:]
path = './HW1/ST55_HW1_1'
Data1.to_csv(path, sep=',', header=None, index=None)

In [5]:
def rms(a):
    return np.sqrt(np.mean(a**2))

In [26]:
Data2 = np.zeros((6,Data1.shape[1]))

In [27]:
for i in range(3):
                 
    Data2[0,i] = np.max(Data1.iloc[:,i])
    Data2[1,i] = np.min(Data1.iloc[:,i])
    Data2[2,i] =    rms(Data1.iloc[:,i])
    Data2[3,i] = np.var(Data1.iloc[:,i])
    Data2[4,i] = np.std(Data1.iloc[:,i])
    Data2[5,i] = np.mean(Data1.iloc[:,i])
Data2=pd.DataFrame(Data2)
Data2

          0         1         2
0  0.623340  2.799600  4.874800
1 -0.925510 -2.593700 -4.124400
2  0.342559  1.166815  2.367379
3  0.116607  1.346368  5.432494
4  0.341477  1.160331  2.330771
5 -0.027209  0.122835  0.414717

In [28]:
path = './HW1/ST55_HW1_2'
Data2.to_csv(path, sep=',', header=None, index=None)